**/*.tfstate
**/*.tfstate.*
**/**/.terraform/
**/**/*.tfvars/
**/**/**/*.tfvars/
**/**/**/**/*.tfvars/
**/**/**/**/terraform.tfvars
**/**/**/**/terraform.tfvars
**/**/**/**/*.tfstate
**/**/**/**/*.pub
**/**/**/**/mykey
